.App {
  text-align: center;
}

.header{
  text-align: left;
  margin-left: 24px;
}

.image-container {
  height: 350px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin: 0 32px;
}

.main-image {
  object-fit: cover;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.special-banner {
  font-size: 42px;
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
